@model IEnumerable<Rover.Models.Reading>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReadingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadingValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadingVariance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillMonth.BillMonthDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit.UnitName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReadingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadingValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadingVariance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillMonth.BillMonthDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.UnitName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReadingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReadingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReadingID })
        </td>
    </tr>
}

</table>
